PORT=3000
NODE_ENV=development
NEXT_PUBLIC_CORE_API_URL=http://localhost:9000
NEXT_PUBLIC_STORE_NAME="Artisan Living Europe"
NEXT_PUBLIC_DEFAULT_LOCALE=de
NEXT_PUBLIC_GTM_ID=GTM-XXXXXX
NEXT_PUBLIC_SGTM_DOMAIN=ss.artisanliving.eu
