# Storefront PWA Environment Variables
NODE_ENV=production
NEXT_PUBLIC_CORE_API_URL=https://commerce-core-api-989797182050.europe-west3.run.app
NEXT_PUBLIC_STORE_NAME="Apex Direct Europe"
NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_SGTM_DOMAIN=ss.apexstore.eu

# Google Pay Environment in Browser (TEST or PRODUCTION)
NEXT_PUBLIC_GOOGLE_PAY_ENVIRONMENT=TEST
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_placeholder_51NxXXXXXXXXXXXXXXXXXXXXXXXXXX
NEXT_PUBLIC_PAYPAL_CLIENT_ID=AeA_placeholder_client_id_for_demo
